body
{
    overflow: hidden;
    margin: 0;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.readList
{
    height: 98.75vh;
    width: 31.25rem;
    border: 0.313rem solid #FFF8DC;
    overflow-y: auto;
    float: left;
}

.notReadList
{
    height: 98.75vh;
    width: 31.25rem;
    border: 0.313rem solid #E9967A;
    overflow-y: auto;
}

.catalogue h1
{
    text-align: center;
    font-family: 'Metal Mania';
    color: #DCDCDC;
}

.catalogue
{
    height: 99.3vh;
    width: 68.75rem;
    flex: 0 0 78%;
}

.card
{
    display: block;
    width: 15rem;
    height: 17.5rem;
    float: left;
    margin-left: 8.125rem;
    margin-top: 1.563rem;
    margin-bottom: 1.563rem;
    background: #A1FFCE;  
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE); 
    background: linear-gradient(to right, #FAFFD1, #A1FFCE); 
    border-radius: 0.75rem;
    text-align: center;
    padding: 0.938rem;
    box-sizing: border-box;
    font-family: 'Stint Ultra Expanded';
    font-weight: bold;
    font-size: 1.25rem;
}

.card button.delete-button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #808080;
    font-size: 1.25rem; 
    font-weight: bold;
    position: relative;
}

.card button.delete-button:hover
{
    color: #D3D3D3;
}

.title
{
    color: #2F4F4F;
}

.author
{
    color: #708090;
}

.pgNum
{
    color: #778899;
}

.read-button
{
    border-radius: 50%;
    padding: 0.781rem;
    font-size: 0.781rem;
    border: none;
    background: #5D4157;  
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  
    background: linear-gradient(to right, #A8CABA, #5D4157); 
    cursor: pointer;
    color: #F5FFFA;
    font-family: 'Stint Ultra Expanded';
    font-weight: bold;
    height: 3.125rem;
    width: 4.688rem;
}

.read-button:hover
{
    box-shadow: 0 0 0 0 rgba(52.9, 0, 0, 0.8);
    animation: pulse 1.5s infinite;
    font-weight: bold;
    font-size: 1.875rem;
    padding: 0.625rem;
    color: #FF0000;
}

@keyframes pulse 
{
    70% { box-shadow: 0 0 0 1.25rem rgba(52.9, 0, 0, 0); }
    100% { box-shadow: 0 0 0 0 rgba(52.9, 0, 0, 0); }
}

.read-button:hover div
{
    font-size: 0rem;
}

#move-right:hover:before
{
    animation: animRight 1s infinite;
    content: attr(data-hover);
}

@keyframes animRight
{
    0% {margin-left: -1.875rem;}
    15% {margin-left: -1.25rem;}
    30% {margin-left: -0.625rem;}
    45% {margin-left: 0rem;}
    60% {margin-left: 0.625rem;}
    75% {margin-left: 1.25rem;}
    90% {margin-left: 1.875rem;}
    100% {margin-left: 0rem;}
}

#move-left:hover:before
{
    animation: animLeft 1s infinite;
    content: attr(data-hover);
}

@keyframes animLeft
{
    0% {margin-left: 1.875rem;}
    15% {margin-left: 1.25rem;}
    30% {margin-left: 0.625rem;}
    45% {margin-left: 0rem;}
    60% {margin-left: -0.625rem;}
    75% {margin-left: -1.25rem;}
    90% {margin-left: -1.875rem;}
    100% {margin-left: 0rem;}
}

.main-title
{
    float: right;
    margin-top: -34.375rem;
    margin-left: 67.188rem;
    color: #FFFAF0;
    position: fixed;
}

.add-button
{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border-radius: 1.875rem;
    color: white;
    text-align: center;
    font-size: 1.563rem;
    height: 3.125rem;
    width: 6.25rem;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: -26.563rem;
    margin-left: 39.063rem;
    transition: all .5s; 
    font-family: 'Stint Ultra Expanded';
    position: fixed;
}


.add-button:hover div
{
    font-size: 0rem;
}

.add-button:hover
{
    width: 12.5rem;
    background: #9796f0;  
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  
    background: linear-gradient(to right, #fbc7d4, #9796f0); 
}

.add-button:hover:before
{
    animation: animAdd .2s;
    content: attr(data-hover);
}

@keyframes animAdd 
{
    0% {font-size: 0;}
    100% {font-size: 2.188rem;}
}

::-webkit-scrollbar 
{
    width: 0.625rem;
}
  

::-webkit-scrollbar-track 
{
    background: #F7F8F8;  
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8); 
    background: linear-gradient(to right, #ACBB78, #F7F8F8);
}

::-webkit-scrollbar-thumb 
{
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
    border-radius: 1rem;
    height: 0.063rem;  
}
  
::-webkit-scrollbar-thumb:hover 
{
    background: #E6DADA;  
    background: -webkit-linear-gradient(to right, #274046, #E6DADA); 
    background: linear-gradient(to right, #274046, #E6DADA); 
}

.addBook
{
    position: fixed;
    display: none;
    z-index: 99 !important;
    height: 31.25rem;
    width: 37.5rem;
    margin-left: 23.438rem;
    margin-top: 3.75rem;
    background: #2193b0;  
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    border-radius: 1rem;
}

.addBook-close
{
    margin-left: 17.813rem;
    margin-top: 0.938rem;
    font-size: 1.875rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.addBook-close:hover
{
    color: #DC143C;
}

.addBook-input
{
    margin-top: 1.25rem;
}

.addBook-input input
{
    margin-top: 0.938rem;
    margin-left: 9.688rem;
    width: 15.625rem;
    height: 2.188rem;
    border-radius: 1.125rem;
    border: none;
    text-align: center;
    color: #2F4F4F;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
}

.addBook-input input:focus
{
    outline: none;
}

h3
{
    text-align: center;
    margin-top: 1.875rem;
    margin-left: 2.188rem;
    color: #2F4F4F;
}

.addBook-pgNum
{
    margin-left: 16.875rem;
    display: block;
    width: 4.063rem;
    border-radius: 1rem;
    border: none;
    padding: 0.625rem;
    text-align: center;
}

.addBook-pgNum:focus
{
    outline: none;
}

.arYes
{
    margin-left: 16.875rem;
}

.addBook-submit
{
    margin-top: 1.875rem;
    margin-left: 15.313rem;
    background: transparent;
    border-radius: 1rem;
    border: 0.125rem solid #FFE4C4;
    color: #FFE4C4;
    padding: 0.625rem;
    width: 9.375rem;
    cursor: pointer;
}

.addBook-submit:hover
{
    color: #D2691E;
    border: 0.125rem solid #D2691E;
}